<div id="<%= dom_id cart_product %>">
  <div>
    <strong>Cart:</strong>
    <%= cart_product.cart_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= cart_product.product_id %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= cart_product.quantity %>
  </div>

  <div>
    <strong>Unit price:</strong>
    <%= cart_product.unit_price %>
  </div>

</div>
