<p style="color: green"><%= notice %></p>

<%= render @repair_section %>

<div>
  <%= link_to "Edit this repair section", edit_repair_section_path(@repair_section) %> |
  <%= link_to "Back to repair sections", repair_sections_path %>

  <%= button_to "Destroy this repair section", @repair_section, method: :delete %>
</div>
