<p style="color: green"><%= notice %></p>

<%= render @privacy_page %>

<div>
  <%= link_to "Edit this privacy page", edit_privacy_page_path(@privacy_page) %> |
  <%= link_to "Back to privacy pages", privacy_pages_path %>

  <%= button_to "Destroy this privacy page", @privacy_page, method: :delete %>
</div>
