<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name, "Prénom" %><br />
    <%= f.text_field :first_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :last_name, "Nom" %><br />
    <%= f.text_field :last_name, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :address, "Adresse" %><br />
    <%= f.text_field :address %>
  </div>

  <div class="field">
    <%= f.label :zipcode, "Code postal" %><br />
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :city, "Ville" %><br />
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :country, "Pays" %><br />
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :phone, "Téléphone" %><br />
    <%= f.telephone_field :phone %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.check_box :cgu_accepted, required: true %>
    <%= f.label :cgu_accepted do %>
      J'accepte les <%= link_to "CGU", cgu_path, target: "_blank", rel: "noopener" %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
