<%= form_with(model: terms_page) do |form| %>
  <% if terms_page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(terms_page.errors.count, "error") %> prohibited this terms_page from being saved:</h2>

      <ul>
        <% terms_page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.textarea :content %>
  </div>

  <div>
    <%= form.label :position, style: "display: block" %>
    <%= form.number_field :position %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
