<p style="color: green"><%= notice %></p>

<%= render @terms_page %>

<div>
  <%= link_to "Edit this terms page", edit_terms_page_path(@terms_page) %> |
  <%= link_to "Back to terms pages", terms_pages_path %>

  <%= button_to "Destroy this terms page", @terms_page, method: :delete %>
</div>
