<p style="color: green"><%= notice %></p>

<%= render @about_section %>

<div>
  <%= link_to "Edit this about section", edit_about_section_path(@about_section) %> |
  <%= link_to "Back to about sections", about_sections_path %>

  <%= button_to "Destroy this about section", @about_section, method: :delete %>
</div>
