<div id="<%= dom_id event %>">
  <div>
    <strong>User:</strong>
    <%= event.user_id %>
  </div>

  <div>
    <strong>Title:</strong>
    <%= event.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= event.description %>
  </div>

  <div>
    <strong>Event date:</strong>
    <%= event.event_date %>
  </div>

  <div>
    <strong>Location:</strong>
    <%= event.location %>
  </div>

  <div>
    <strong>Image url:</strong>
    <%= event.image_url %>
  </div>

</div>
