<div id="<%= dom_id event %>">
  <!-- <div>
    <strong>User:</strong>
    <%= event.user_id %>
  </div> -->

  <div>
    <h5><%= event.title %></h5>
  </div>

  <div>
    <p class="gold"><strong><%= event.category %></strong></p>
  </div>

  <div>
    <i class="bi bi-calendar-event"></i>
    <%= event.event_date %>
  </div>

  <div>
    <i class="bi bi-geo-alt"></i>
    <%= event.location %>
  </div>

  <div>
    <%= event.description %>
  </div>

  <!-- <div>
    <strong>Image url:</strong>
    <%= event.image_url %>
  </div> -->

</div>
