<div id="<%= dom_id order %>">
  <div>
    <strong>User:</strong>
    <%= order.user_id %>
  </div>

  <div>
    <strong>Order date:</strong>
    <%= order.order_date %>
  </div>

  <div>
    <strong>Total amount:</strong>
    <%= order.total_amount %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= order.status %>
  </div>

</div>
