<p style="color: green"><%= notice %></p>

<%= render @repair_page %>

<div>
  <%= link_to "Edit this repair page", edit_repair_page_path(@repair_page) %> |
  <%= link_to "Back to repair pages", repair_pages_path %>

  <%= button_to "Destroy this repair page", @repair_page, method: :delete %>
</div>
