<div id="<%= dom_id about_page %>" class="row align-items-center mb-5">
  <% image_order = index.even? ? "order-md-1" : "order-md-2" %>
  <% text_order  = index.even? ? "order-md-2" : "order-md-1" %>

  <div class="col-12 col-md-6 <%= image_order %> mb-3 mb-md-0">
    <% if about_page.image.attached? %>
      <%= image_tag about_page.image, class: "img-fluid fixed-image", alt: about_page.title %>
    <% end %>
  </div>

  <div class="col-12 col-md-6 <%= text_order %>">
    <h2 class="mb-2 mt-2"><%= about_page.title %></h2>
    <p><%= about_page.content %></p>
  </div>
</div>