<p style="color: green"><%= notice %></p>

<%= render @about_page %>

<div>
  <%= link_to "Edit this about page", edit_about_page_path(@about_page) %> |
  <%= link_to "Back to about pages", about_pages_path %>

  <%= button_to "Destroy this about page", @about_page, method: :delete %>
</div>
