<div id="<%= dom_id product %>">
  <div>
    <strong>Title:</strong>
    <%= product.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= product.description %>
  </div>

  <div>
    <strong>Type:</strong>
    <%= product.type %>
  </div>

  <div>
    <strong>Price:</strong>
    <%= product.price %>
  </div>

  <div>
    <strong>Stock:</strong>
    <%= product.stock %>
  </div>

</div>
