<div id="<%= dom_id product %>">
  <div class="gold">
    <p><strong><%= product.category %></strong></p>
  </div>

  <div>
    <h5><%= product.title %></h5>
  </div>

  <div>
    <p><%= product.description %></p>
  </div>

  <div>
    <strong>Price:</strong>
    <%= product.price %>
  </div>

  <div>
    <strong>Stock:</strong>
    <%= product.stock %>
  </div>

</div>
