<% if params[:success] %>
  <p>Paiement réussi ! </p>
<% elsif params[:canceled] %>
  <p>Paiement annulé.</p>
<% end %>

<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    <p>
      <%= link_to "Show this product", product %>
      <%= button_to "Ajouter au panier", cart_products_path(product_id: product.id), method: :post %>
    </p>
  <% end %>
</div>


<%= link_to "New product", new_product_path %>
