<% if params[:success] %>
  <p>Paiement réussi ! </p>
<% elsif params[:canceled] %>
  <p>Paiement annulé.</p>
<% end %>

<% content_for :title, "Products" %>

<h1>Products</h1>

<div style="margin-bottom: 16px;">
  <%= form_with url: products_path, method: :get, local: true do %>
    <label for="category">Filtrer par catégorie :</label>
    <%= select_tag :category,
      options_for_select([["Toutes", ""]] + @categories.map { |cat| [cat.to_s.titleize, cat] }, @selected_category),
      onchange: "this.form.submit()" %>
    <noscript><%= submit_tag "Filtrer" %></noscript>
  <% end %>
</div>

<div id="products">
  <% @products.each do |product| %>
    <%= render product %>
    
    <p>
      <%= link_to "Show this product", product %>
      <% if user_signed_in? %>
      <%= button_to "Ajouter au panier", cart_products_path(product_id: product.id), method: :post %>
      <% end %>
    </p>
  <% end %>
</div>


<%= link_to "New product", new_product_path %>
