<div id="<%= dom_id order_product %>">
  <div>
    <strong>Order:</strong>
    <%= order_product.order_id %>
  </div>

  <div>
    <strong>Product:</strong>
    <%= order_product.product_id %>
  </div>

  <div>
    <strong>Quantity:</strong>
    <%= order_product.quantity %>
  </div>

  <div>
    <strong>Unit price:</strong>
    <%= order_product.unit_price %>
  </div>

</div>
