<ul>
  <li>
    <%= link_to "A propos", about_pages_path %>
  </li>

  <li>
    <%= link_to "CGU", terms_pages_path %>
  </li>

  <li>
    <%= link_to "Politique de confidentialité", privacy_pages_path %>
  </li>

  <li>
    <%= link_to "Contact", new_contact_path %>
  </li>
</ul>
<ul>
  <li> 
    <%= link_to "Lucas-mrda-dev", "https://github.com/Lucas-mrda-dev" %>
  </li>

  <li> 
    <%= link_to "Enzoulette", "https://github.com/Enzoulette-94" %>
  </li>

  <li> 
    <%= link_to "JobeeJobaa", "https://github.com/jobeejobaa" %>
  </li>
</ul>