<footer class="py-4">
  <div class="container">

    <div class="row">
      <div class="col-12 col-md-4 mb-3">
        <ul class="list-unstyled">
          <li> 
            <strong>Navigation</strong>
          </li>
          <li>
            <%= link_to "A propos", about_pages_path, class: "text-decoration-none" %>
          </li>

          <li>
            <%= link_to "CGU", terms_pages_path, class: "text-decoration-none" %>
          </li>

          <li>
            <%= link_to "Politique de confidentialité", privacy_pages_path, class: "text-decoration-none" %>
          </li>

          <li>
            <%= link_to "Contact", new_contact_path, class: "text-decoration-none" %>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-4 mb-3">
        <ul class="list-unstyled">
          <li> 
            <%= link_to "Lucas-mrda-dev", "https://github.com/Lucas-mrda-dev", class: "text-decoration-none" %>
          </li>

          <li> 
            <%= link_to "Enzoulette", "https://github.com/Enzoulette-94", class: "text-decoration-none" %>
          </li>

          <li> 
            <%= link_to "JobeeJobaa", "https://github.com/jobeejobaa", class: "text-decoration-none" %>
          </li>
        </ul>
      </div>

      <div class="col-12 col-md-4 mb-3">
        <ul class="list-unstyled">
          <li> 
            <strong>Contact</strong>
          </li>

          <li> 
            <%= mail_to "contact@haubergerie-pontius.com" %>
          </li>
        </ul>
      </div>
    </div>
    <div class="text-center">
      <hr class="my-3">
      <p class="mb-0"><strong>© 2025 L'Haubergerie de Pontius. Tous droits réservés.</strong></p>
    </div>
  </div>
</footer>